# SQLite Exercise

SQLite is a simple way to implement SQL in Python.
It can work off of a database file (.db) that already has tables in it or an empty one.
You can also insert tables into a .db file.
We are going to to both!

# Libraries

Two very important libraries we will need are pandas, and extremely popular data analysis library, and of course SQLite3.

In [ ]:
import sqlite3
import pandas as pd

# Connecting to a Database File

- Need to establish a connection: conn = sqlite3.connect('insert database file name here')
- Need to establish a cursor object to execute queries: c = conn.cursor()
- To execute queries: c.execute('insert SQL statement here')

## Let's Explore Chinook!

To see the database diagram follow this link: http://www.sqlitetutorial.net/wp-content/uploads/2018/03/sqlite-sample-database-diagram-color.pdf

In [ ]:
conn = sqlite3.connect('chinook.db') #Note: this file should be located in the same folder you are running this notebook from!
c = conn.cursor()

To display query results, we can use a simple for loop. Run the next cell to see how to display the information in the playlists table.

In [ ]:
for row in c.execute('SELECT * FROM playlists'):
    print(row)

Now, use the next cell to write a query that displays all of the customers from the customers table

As we can see, the output isn't that pretty. We can use the pandas library to create a dataframe from our query results!
- pd.read_sql_query(query, connection): where query is the query you want to run and connection is the connection to the database you have established

In the cell below, create a dataframe that holds all of Chinook's Canadian customers, by completing the query that is started:

In [ ]:
canadians = pd.read_sql_query("SELECT     , conn)
canadians

Create a dataframe that holds the number of invoices per country in descending order

In [ ]:
invoicePerCountry = 
invoicePerCountry

For each record in the Album table, we want the Title along with the Name of the Artist. This will require an inner join!

In [ ]:
records = 
records

## Create Our Own Table

Within the chinook database we want to create a table that holds each Employee ID and their total sales amount from the invoices they are associated with.
- Step 1: Write a query to sum the total sales per employee ID
- Step 2: Create a table called sales in the chinook database that holds two columns: the employee ID and the sale amount
- Step 3: To see if your insert was successful, join the employee ID columns of the employee table and your table to see their names

In [ ]:
#Step 1
query = 
df = pd.read_sql_query(query, conn)
df

In [ ]:
#Quick Visualization -- Run Me!!
import matplotlib.pyplot as plt
import numpy as np

labels = df.SupportRepId.values
sizes = df.dollars_spent.values
explode = (.2, 0, 0)

fig1, ax1 = plt.subplots()
ax1.pie(sizes, labels=labels, explode = explode, autopct='%1.1f%%', shadow = True)
ax1.axis('equal')

plt.show()

In [ ]:
#Step 2

#Create Table


#Insert into Table

In [ ]:
#Step 3

After we are done we have to close the database to make sure it saves everything in our file:

In [ ]:
c.close()